.richer-text table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.richer-text table td,
.richer-text table th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.richer-text table td>*,
.richer-text table th>* {
  margin-top: 0;
  margin-bottom: 0;
}

.richer-text table th {
  background-color: #f1f3f5;
  font-weight: bold;
  text-align: left;
}

.richer-text p {
  margin: 0;
}

.richer-text img {
  width: auto;
}

.richer-text blockquote {
  border-left: 2px solid #ced4da;
  margin: 1rem 0.5rem;
  padding: 0 0 0 10px;
}
